# Project related exclusions
code/task_42/notebooks/
data/task_42/project_42_raw_datasets/
code/task_42/seamless_input/

# Conda and Virtual Environments
.conda/
conda-env/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python caches and bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# LaTeX auxiliary files (if building latex locally)
*.aux
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.log
*.out
*.synctex.gz
*.toc

# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE and Editor configs
.vscode/
.idea/
*.swp
*.swo
